---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Marc Michon. All rights reserved.
	<div class="social-links">
		
		<a href="https://www.linkedin.com/in/michonmarc/" target="_blank">
	LinkedIn
</a>

<a href="mailto:michon.marc@gmail.com">
	Email
</a>

<a href="https://github.com/marcmichon" target="_blank">
	GitHub
</a>
	</div>
</footer>
<style>
	footer {
		padding: 1.25rem 1rem;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
